.hide {
    display: none;
}

.body {
    text-align: center;
    font-size: 24px;
    background-color: papayawhip;
}

.red {
    color: red;
}

.blue {
    color: blue;
}

.orange {
    color: orange;
}

.green {
    color: green;
}

.yellow {
    color: yellow;
}
